<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Fragments - Footer</title>
</head>
<body>

	<div th:fragment="footer" class="row bg-light"
		style="min-height: 100px">

		<footer class="container-fluid my-auto">
			<div class="row">
				<div class="d-flex ml-auto mr-5">
					<!-- <i class="fas fa-language fa-3x mr-1 my-auto"></i>  -->
					<div class="my-auto">
						<img src="/images/lang_icon.svg" width="32" height="32"
							class="mr-2" />
					</div>
					<div class="sr-only">
						<label class="input-group-text" for="locales"
							th:text="#{index.language}"></label>
					</div>
					<select id="locales" class="custom-select border-secondary my-auto"
						style="max-width: 115px;">
						<option value="" selected disabled th:text="#{index.language}"></option>
						<option value="pl_PL" th:text="#{index.polish}"></option>
						<option value="en" th:text="#{index.english}"></option>
					</select>


				</div>
			</div>

		</footer>
	</div>

</body>
</html>