.dropdown-item:active {
border-style: none !important;
background-color: grey !important;
box-shadow: none !important;
}

.dropdown-item {
outline: none !important;
}

.form-container {
max-width: 350px;
}
