.dropdown-item:active {
border-style: none !important;
background-color: grey !important;
box-shadow: none !important;
}

.form-control:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #ffc107 !important;
	box-shadow: none;
}

.custom-select:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #ffc107 !important;
	box-shadow: none;
}

.dropdown-item {
outline: none !important;
}

.form-container {
max-width: 350px;
}

.alert-danger {
	background: rgba(190, 95, 100, 0.5) !important;
	border: none !important;
	color: white !important;
}

.alert-success {
	background: #ffc107 !important;
	border: none !important;
	color: black;
}

.alert-warning {
	background: #ffc107 !important;
	border: none !important;
	color: black;
}

.trans-container{
	background: rgba(230,230,230,0.1);
}

.invalid-feedback{
	color: #ffc107 !important;
}
