body {
	font-family: 'Roboto', sans-serif;
}

table {
  font-size: 0.8rem;
}

td {
	vertical-align: middle !important;
}

a {
	text-decoration: none !important;
	color: inherit;
}

nav {
	min-height: 64px; 
	background: #1f252b;
}

.footer {
	min-height: 150px;
}

.main-container{
	min-height: 300px;
	background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(/images/Medical-Services.jpg) no-repeat center fixed;	
}

.locales-select {
	max-width: 115px;
}

.dropdown-item:active {
border-style: none !important;
background-color: grey !important;
box-shadow: none !important;
}

.form-control:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #ffc107 !important;
	box-shadow: none;
}

.custom-select:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #ffc107 !important;
	box-shadow: none;
}

.dropdown-item {
outline: none !important;
}

.form-container {
max-width: 350px;
}

.alert-danger {
	background: rgba(190, 95, 100, 0.5) !important;
	border: none !important;
	color: white !important;
}

.alert-success {
	background: #ffc107 !important;
	border: none !important;
	color: black;
}

.alert-warning {
	background: #ffc107 !important;
	border: none !important;
	color: black;
}

.trans-container{
	background: rgba(230,230,230,0.08);
}

.user-panel-trans-container {
	background: rgba(230,230,230,0.0);
}

.invalid-feedback{
	color: #ffc107 !important;
}
	
.rate-input{
	width: 80px;
}

.settings-button {
	min-width: 100px
}


.action-btn{
	min-width: 80px;
}

.user-panel-button {
	font-size: 0.6rem;
	min-width: 150px !important;
}

.modal {
	color: black !important;
}

.admin-check-label {
	font-size: 0.8rem;
}

.login_small_label {
	font-size: 0.9rem;
}

.questionnaire-not-required-label {
	font-size: 0.8rem;
}

.questionnaire-help-icon {
	color: #ffc107; 
	font-size: 0.9rem;
	cursor: pointer;
}

.section-inner-div {
	font-size: 0.9rem;
}

@media (min-width: 230px) {
	.user-panel-button{
		font-size: 0.8rem;
		min-width: 200px !important;
	}
}

@media (min-width: 280px) {
	.user-panel-button{
		font-size: 1rem;
		min-width: 250px !important;
	}
}

@media (min-width: 576px) {
	table {
		font-size: 1rem;
	}
	
	.user-panel-button{
		font-size: 1rem;
		min-width: 350px !important;
	}
	
	.action-btn{
		min-width: 90px;
	}
		
	.user-panel-trans-container {
	background: rgba(230,230,230,0.08);
	}
	
	.main-container{
		min-height: 700px;
	}
}

@media (min-width: 768px) {
	.main-container{
		min-height: 700px;
	}	
}

