<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="#{account.title}"></title>

</head>
<body>

	<div layout:fragment="header_login_content">
		<div
			th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>
	<div layout:fragment="main_content">

		<section class="row mt-5">

			<!-- Check for success message -->
			<div th:if="${successMessage}"
				class="alert alert-success text-center mx-auto mb-5"
				th:text="${successMessage}"></div>

			<!-- Check for info message -->
			<div th:if="${infomessage}"
				class="alert alert-warning text-center mx-auto mb-5"
				th:text="${infomessage}"></div>

		</section>

		<div class="row">
			<div class="text-light rounded mx-auto mb-5 px-3 pb-2 pt-3 trans-container">
				<h1 class="h5 mb-3" th:text="#{account.title}"></h1>
				<form th:action="@{/user/updateEmail}" method="POST" class="mb-4"
					th:object="${emailDTO}">
					<div class="form-group rounded px-3 pt-3 pb-2 trans-container">
						<label for="emailInput" th:text="#{account.emailUpdate}"></label>
						<input type="text" name="email" class="form-control mb-3"
							id="emailInput" value="email" th:attr="value=*{emailAddress}"
							autocomplete="off" th:field="*{emailAddress}">

						<div th:if="${#fields.hasErrors('emailAddress')}">
							<div th:each="err : ${#fields.errors('emailAddress')}"
								th:text="#{${err}}" class="alert alert-danger"></div>
						</div>

						<!-- Check for email error message -->
						<div th:if="${errorMessage}"
							class="alert alert-danger text-center mx-auto mb-5"
							th:text="${errorMessage}"></div>

						<div class="form-group mt-2">
							<button class="btn btn-warning btn-sm settings-button"
								th:text="#{account.updatebutton}"></button>
						</div>
					</div>
				</form>

				<form th:action="@{/user/updatePassword}" method="POST"
					th:object="${passwordDTO}">
					<div class="form-group rounded px-3 pt-3 pb-2 trans-container">
						<label for="oldPassInput" th:text="#{account.passUpdate}"></label>
						<input type="password" name="oldPass" class="form-control mb-3"
							id="oldPassInput" placeholder="Enter current password"
							th:attr="placeholder=#{account.enteroldpass}">

						<!-- Check for password error message -->
						<div th:if="${passwordErrorMessage}"
							class="alert alert-danger text-center mx-auto mb-5"
							th:text="${passwordErrorMessage}"></div>


						<label for="newPassInput" th:text="#{account.newPass}"></label> <input
							type="password" name="newPass" class="form-control mb-3"
							id="newPassInput" th:field="*{password}"
							placeholder="Enter new password"
							th:attr="placeholder=#{account.enternewpass}">

						<div th:if="${#fields.hasErrors('password')}">
							<div th:each="err : ${#fields.errors('password')}"
								th:text="#{${err}}" class="alert alert-danger"></div>
						</div>

						<label for="confirmPassInput" th:text="#{account.confirmPass}"></label>
						<input type="password" name="confirmPass"
							class="form-control mb-3" id="confirmPassInput"
							th:field="*{matchingPassword}" placeholder="Retype new password"
							th:attr="placeholder=#{account.retypenewpass}">

						<div th:if="${#fields.hasErrors('matchingPassword')}">

							<div th:each="err : ${#fields.errors('matchingPassword')}"
								th:text="#{index.password} + ' ' + #{index.isrequired2}"
								class="alert alert-danger"></div>

						</div>


						<div th:if="${#fields.hasErrors('global')}">
							<div th:each="err : ${#fields.errors('global')}"
								th:text="#{${err}}" class="alert alert-danger"></div>
						</div>

						<div class="form-group mt-2">
							<button class="btn btn-warning btn-sm settings-button"
								th:text="#{account.updatebutton}"></button>
						</div>
					</div>
				</form>

				<div>

					<div class="form-group rounded px-3 pt-3 pb-1 text-center trans-container">
						<h2 class="h6" th:text="#{account.deleteSection}"></h2>
						<div class="form-group">
							<button class="btn btn-danger btn-sm settings-button" data-toggle="modal"
								data-target="#deleteModal" th:text="#{account.deleteButton}"></button>
						</div>
					</div>

					<!-- Modal for deleting account -->
					<div class="modal fade" id="deleteModal" tabindex="-1"
						role="dialog" aria-labelledby="deleteModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteModalLabel" th:text="#{account.deleteSection}"></h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" th:text="#{account.modal.confirm}"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal" th:text="#{account.modal.close}"></button>
									<form th:action="@{/user/deleteAccount}" method="POST">
										<button type="submit" class="btn btn-danger" th:text="#{account.modal.deleteButton}"></button>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>