<!DOCTYPE html>
<html layout:decorate="~{layout}" class="h-100"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
<script>

	<!-- Show password strength -->
	
	var myApp = angular.module("myapp", []);
	myApp
			.controller(
					"PasswordController",
					function($scope) {
						var strongRegex = new RegExp(
								"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
						var mediumRegex = new RegExp(
								"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})");

						$scope.passwordStrength = {};

						$scope.analyze = function(value) {
							if (strongRegex.test(value)) {
								$scope.passwordStrength["background-color"] = "#e8f5e9";
							} else if (mediumRegex.test(value)) {
								$scope.passwordStrength["background-color"] = "#fff9c4";
							} else {
								$scope.passwordStrength["background-color"] = "#ffebee";
							}
						};
					});


	<!-- Show hide form for admin registration -->

	document.addEventListener("DOMContentLoaded", function() {
		var adminCheckbox = document.getElementById('checkboxForAdminForm');

		adminCheckbox.addEventListener("click", function() {

			if (adminCheckbox.checked) {
				document.getElementById('adminForm').style.display = "block";
			} else {
				document.getElementById('adminForm').style.display = "none";
			}
		});

		if (adminCheckbox.checked) {
			document.getElementById('adminForm').style.display = "block";
		} else {
			document.getElementById('adminForm').style.display = "none";
		}

	});
</script>

</head>

<body data-ng-app="myapp">

	<div layout:fragment="header_login_content">
		<div th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>

	<div layout:fragment="main_content">

		<!-- Place for messages -->

		<section class="row">

			<!-- Check for logout -->
			<div th:if="${param.logout}"
				class="alert alert-success text-center mx-auto mt-5 mb-0 mb-md-5"
				th:text="#{index.logoutsuccess}"></div>

			<!-- Check for register success or confirmation success -->
			<div th:if="${successMessage}"
				class="alert alert-success text-center mx-auto mt-5 mb-0 mb-md-5"
				th:text="${successMessage}"></div>

			<!-- Check for information message -->
			<div th:if="${message}"
				class="alert alert-warning text-center mx-auto mt-5 mb-0 mb-md-5"
				th:text="${message}"></div>

		</section>

		<div class="row">
			<div class="d-flex flex-column col-12 col-md-6 mb-4 mb-md-0 mt-5 mt-md-1 text-light">
				<h1 class="h2 mt-auto mx-auto mr-md-2 text-center text-md-right"
					th:text="#{index.h1}"></h1>
				<p class="mr-md-2 mt-1 mb-auto mx-auto text-center text-md-right lead" sec:authorize="isAnonymous()">
					<a th:href="@{/showLoginForm}" class="text-warning" th:text="#{index.instructionpt1}"></a>
					<span th:text="#{index.instructionpt2}"></span>
				</p>
			</div>
			<section class="col-12 col-md-6" sec:authorize="isAnonymous()">
				<div class="col-9 col-sm-7 col-md-10 col-lg-8 col-xl-6 rounded px-4 pt-3 pb-2 mx-auto mb-4 ml-md-2 form-container trans-container">

					<!-- Registration Form -->
					<form th:action="@{/processRegistrationForm}"
						th:object="${userDTO}" method="POST">


						<!-- Place for errors -->
						<div class="form-group mt-2">
							<div th:if="${registrationError}" class="alert alert-danger">
								<span th:text="#{index.userexists}"></span>
							</div>
						</div>

						<!-- Email -->
						<div class="form-group">
							<label class="text text-light" for="RegisterInputEmail"
								th:text="#{index.email}"></label> <input type="text"
								th:field="*{email}" placeholder="email" id="RegisterInputEmail"
								th:attr="placeholder=#{index.enteremail}" class="form-control"
								th:errorclass="is-invalid" />
						</div>

						<div th:if="${#fields.hasErrors('email')}">

							<div th:each="err : ${#fields.errors('email')}"
								th:text="#{${err}}" class="alert alert-danger"></div>
						</div>


						<!-- Password -->
						<div class="form-group" data-ng-controller="PasswordController">
							<label class="text text-light" for="RegisterInputPassword"
								th:text="#{index.password}"></label> <input type="password"
								th:field="*{password}" placeholder="password"
								id="RegisterInputPassword"
								th:attr="placeholder=#{index.enterpassword}"
								class="form-control" th:errorclass="is-invalid"
								data-ng-model="password" data-ng-change="analyze(password)"
								data-ng-style="passwordStrength" />
						</div>
						<div th:if="${#fields.hasErrors('password')}">

							<div th:each="err : ${#fields.errors('password')}"
								th:text="#{${err}}" class="alert alert-danger"></div>

						</div>


						<!-- Confirm Password -->
						<div class="form-group">
							<label class="text text-light" for="InputConfirmPassword"
								th:text="#{index.confirmpassword}"></label> <input
								type="password" th:field="*{matchingPassword}"
								placeholder="confirm password" id="InputConfirmPassword"
								th:attr="placeholder=#{index.retypepassword}"
								class="form-control" th:errorclass="is-invalid" />
						</div>
						<div th:if="${#fields.hasErrors('matchingPassword')}">

							<div th:each="err : ${#fields.errors('matchingPassword')}"
								th:text="#{index.password} + ' ' + #{index.isrequired2}"
								class="alert alert-danger"></div>

						</div>

						<div th:if="${#fields.hasErrors('global')}">
							<div th:each="err : ${#fields.errors('global')}"
								th:text="#{${err}}" class="alert alert-danger"></div>
						</div>


						<!-- Admin Personal Data Form -->

						<div id="adminForm" style="display: none;"
							th:object="${adminData}">

							<!-- First Name -->

							<div class="form-group">
								<label class="text text-light" for="InputFirstName"
									th:text="#{index.firstname}"></label> <input type="text"
									th:field="*{firstName}" placeholder="First Name"
									id="InputFirstName" th:attr="placeholder=#{index.enterfname}"
									class="form-control" th:errorclass="is-invalid" />
							</div>

							<div th:if="${#fields.hasErrors('firstName')}">

								<div th:each="err : ${#fields.errors('firstName')}"
									th:text="#{index.firstname} + ' ' + #{index.isrequired2}"
									class="alert alert-danger"></div>

							</div>

							<!-- Last Name -->

							<div class="form-group">
								<label class="text text-light" for="InputLastName"
									th:text="#{index.lastname}"></label> <input type="text"
									th:field="*{lastName}" placeholder="Last Name"
									id="InputLastName" th:attr="placeholder=#{index.enterlname}"
									class="form-control" th:errorclass="is-invalid" />
							</div>

							<div th:if="${#fields.hasErrors('lastName')}">

								<div th:each="err : ${#fields.errors('lastName')}"
									th:text="#{index.lastname} + ' ' + #{index.isrequired2}"
									class="alert alert-danger"></div>

							</div>

							<!-- Phone Number -->

							<div class="form-group">
								<label class="text text-light" for="InputPhoneNumber"
									th:text="#{index.phonenumber}"></label> <input type="text"
									th:field="*{phoneNumber}" placeholder="Phone Number"
									id="InputPhoneNumber"
									th:attr="placeholder=#{index.enterphonenumber}"
									class="form-control" th:errorclass="is-invalid" />
							</div>

							<div th:if="${#fields.hasErrors('phoneNumber')}">

								<div th:each="err : ${#fields.errors('phoneNumber')}"
									th:text="#{${err}}" class="alert alert-danger"></div>

							</div>

							<!-- Medical Chamber -->

							<div class="form-group">
								<label class="text text-light" for="ChamberSelect"
									th:text="#{index.medicalchamber}"></label> 
									<select th:name="medicalChamber" id="ChamberSelect"
									class="form-control" th:errorclass="is-invalid">
									<option value="" th:selected="selected" th:disabled="disabled" th:text="#{questionnaire.chooseChamber}"></option>
									<option th:each="chamber : ${T(com.khal.intern_survey.enums.MedicalChamberEnum).values()}" th:value="${chamber}" th:text="${chamber.name}"></option>
								</select>
							</div>

							<div th:if="${#fields.hasErrors('medicalChamber')}"
								class="text-danger">
								<ul>
									<li th:each="err : ${#fields.errors('medicalChamber')}"
										th:text="#{index.medicalchamber} + ' ' + #{index.isrequired3}" />
								</ul>
							</div>
						</div>

						<div class="form-group mt-4">
							<button type="submit" class="btn btn-outline-warning w-100">
								<span th:text="#{index.register}"></span>
							</button>
						</div>

						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input"
								id="checkboxForAdminForm" name="checkboxForAdminForm"
								th:checked="${expandAdminForm}"> <label
								class="admin-check-label text-light" for="checkboxForAdminForm"
								th:text="#{index.registerasadmin}"></label>
						</div>

					</form>


				</div>

			</section>		
		</div>

	</div>

</body>


</html>