<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="#{questionnaire.title}"></title>
	
<style>
input {
	background-color: #1a1a1a !important;
	border-style: none !important;
	color: #e6e6e6 !important;
}

.form-control:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #808080 !important;
	box-shadow: none;
}
</style>

</head>
<body>

	<div layout:fragment="header_login_content">
		<div
			th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>
	
	<div layout:fragment="main_content">
		
		<div class="row">
			<h1 class="mx-auto h4 p-3 text-white" th:text="#{questionnaire.title}"></h1>
		</div>
		<div class="row">
			<div class="mx-auto rounded pt-4 px-4 pb-3" style="color: #e6e6e6; background-color: #333333">
				<form th:action="@{/survey/saveQuestionnaire}" method="POST" th:object="${questionnaire}">
													
					<div class="form-group d-none">
						<input type="text"
						th:field="*{id}" id="questionnaireIdInput"/>
					</div>
					
					<div class="form-group">
						<label for="medicalChamberSelect"
							th:text="#{questionnaire.medicalChamber}"></label> 
						<select	th:field="*{medicalChamber}" id="medicalChamberSelect" class="custom-select">
							<option value="OIL Szczecin">OIL w Szczecinie</option>
							<option value="OIL Szczecin">OIL w Warszawie</option>
							<option value="OIL Szczecin">OIL w Krakowie</option>
						</select>	
							
					</div>
					
					<div class="form-group">
						<label for="unitNameSelect"
							th:text="#{questionnaire.unitName}"></label> 
						<select th:field="*{unitName}" id="unitNameSelect" class="custom-select">
							<option th:each="unit : ${units}" th:value="${unit.name}" th:text="${unit.name}">							
						</select>
					</div>

					<div class="form-group">
						<button type="submit" name="action" value="save" class="btn btn-warning btn-sm" th:text="#{questionnaire.saveButton}">Save</button>
    					<button type="submit" name="action" value="send"  class="btn btn-success btn-sm" th:text="#{questionnaire.sendButton}">Send</button>
    				</div>
					
				</form>
				
			</div>
		</div>

	</div>
</body>
</html>