<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="#{questList.title}"></title>
	
<style>
input {
	background-color: #1a1a1a !important;
	border-style: none !important;
	color: #e6e6e6 !important;
}

.form-control:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #808080 !important;
	box-shadow: none;
}
</style>

</head>
<body>

	<div layout:fragment="header_login_content">
		<div
			th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>

	
	<div layout:fragment="main_content">
		
		<div class="row">
			<h1 class="mx-auto h3 p-5 text-white" th:text="#{questList.title}"></h1>
		</div>
		
		<div class="row">
			<div class="col-12 col-md-8 col-lg-7 col-xl-6 mx-auto">
				<div class="text-white text-center mb-3" th:if="${questionnaires.empty}" th:text="#{questList.noQuestionnaires}"></div>
				<table th:if="${!questionnaires.empty}" class="table table-borderless text-white text-center ">
				<caption class="d-none" th:text="#{questList.title}"></caption>
					<thead>
						<tr>
							<th th:text="#{questList.date}">
							<th th:text="#{questList.unit}">
							<th th:text="#{questList.status}">
							<th th:text="#{questList.edit}">
							<th th:text="#{questList.delete}">

						</tr>
					</thead>
					<tbody>
						<tr th:each="quest : ${questionnaires}">
						    <td th:text="${#temporals.format(quest.createTime, 'HH:mm dd-MM-yyyy')}" />
						    <td th:text="${quest.unit != null ? quest.unit.name : ''}"/>
						    <td th:switch="${quest.status.ordinal()}">
						    	<span th:case="'0'" th:text="#{questList.statusDraft}"></span>
						    	<span th:case="'1'" th:text="#{questList.statusSent}"></span>
						    	<span th:case="'2'" th:text="#{questList.statusAccepted}"></span>
						    </td>
						    <td>
						    	<a class="btn btn-sm btn-outline-warning" th:href="@{/survey/showQuestionnaire/{id}(id=${quest.id})}" th:text="#{questList.edit}"
						    	style="min-width:60px"></a>
						    </td>
						    <td>
						    	<a class="btn btn-sm btn-outline-danger" th:href="@{/survey/deleteQuestionnaire/{id}(id=${quest.id})}" th:text="#{questList.delete}"></a>
						    </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row mt-4">
			<a class="btn btn-outline-success mx-auto" th:href="@{/survey/newQuestionnaire}" 
			th:text="#{questList.newQuestionnaireBtn}"></a>
		</div>
	</div>
	
</body>
</html>