<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="#{questionnaire.title}"></title>
	
<style>
input {
	background-color: #1a1a1a !important;
	border-style: none !important;
	color: #e6e6e6 !important;
}

.form-control:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #808080 !important;
	box-shadow: none;
}
</style>

	<script th:inline="javascript">		

		function loadUnitSearchResult()
		{
			
			var chamberSelect = document.getElementById('medicalChamberSelect');
			var chamber = chamberSelect.value;
			$.ajax({
			  type: 'get',
			  url: /*[[ @{/survey/unitSearch/{id}(id=${questionnaire.id})}]]*/,
			  data: {
				  "chamberSelected":chamber
			  },
			
			  success: function(data){
				
				  /*<![CDATA[*/
				  $('.units_list').html(data);				  
				  /*]]>*/
				},
			  
			})
			
		}
	</script>


</head>
<body>

	<div layout:fragment="header_login_content">
		<div
			th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>

	
	<div layout:fragment="main_content">
		
		<div class="row">
			<h1 class="mx-auto h4 p-3 text-white" th:text="#{questionnaire.title}"></h1>
		</div>
		<div class="row">
			<div class="mx-auto rounded pt-4 px-4 pb-3 col-10 col-sm-8 col-md-6 col-xl-4" style="color: #e6e6e6; background-color: #333333">
				<form th:action="@{/survey/saveQuestionnaire}" method="POST" th:object="${questionnaire}">
											
					<div class="form-group d-none">
						<input type="text"
						th:field="*{id}" id="questionnaireIdInput"/>
					</div>
					
					<div class="form-group d-none">
						<input type="text"
						th:field="*{user.id}" id="questionnaireIdInput"/>
					</div>
					
					<div class="form-group">
						<label for="medicalChamberSelect"
							th:text="#{questionnaire.medicalChamber}"></label>
							
						<select name="medicalChamber" id="medicalChamberSelect" class="custom-select" onchange="loadUnitSearchResult()"
						th:disabled="${questionnaire.status == T(com.khal.intern_survey.entity.Questionnaire.Status).SENT}">
							<option value="" th:selected="selected" th:disabled="disabled" th:text="#{questionnaire.chooseChamber}"></option>
							<option th:each="chamber : ${T(com.khal.intern_survey.DTO.MedicalChamberEnum).values()}" th:value="${chamber}" th:text="${chamber.name}"
							th:selected="${chamber.name.contains(questionnaire.medicalChamber != null ? questionnaire.medicalChamber.name : 'null')}"></option>
						</select>
					</div>
						
					
					<div class="form-group">
						<label for="unitNameSelect"
							th:text="#{questionnaire.unitName}"></label> 
						<select name="unit" id="unitNameSelect" class="custom-select units_list" th:fragment="units_list"
						th:disabled="${questionnaire.status == T(com.khal.intern_survey.entity.Questionnaire.Status).SENT}">
							<option value="" th:selected="selected" th:disabled="disabled" th:text="#{questionnaire.chooseUnit}"></option>
							<option th:each="unit : ${units}" th:value="${unit.id}" th:text="${unit.name}"
							th:selected="${unit.name.contains(questionnaire.unit != null ? questionnaire.unit.getName() : 'null')}">							
						</select>
						
					</div>

					<div class="form-group mt-4">
						<button th:if="${questionnaire.status == T(com.khal.intern_survey.entity.Questionnaire.Status).DRAFT}" type="submit" name="action" value="save" class="btn btn-warning btn-sm mr-2" th:text="#{questionnaire.saveButton}">Save</button>
    					<button th:if="${questionnaire.status == T(com.khal.intern_survey.entity.Questionnaire.Status).DRAFT}" type="submit" name="action" value="send"  class="btn btn-success btn-sm" th:text="#{questionnaire.sendButton}">Send</button>
    					<a th:href="@{/survey/showQuestList}" th:text="#{questList.backToList}" class="float-right" style="text-decoration:none;	"></a>
    				</div>
					
				</form>
				
			</div>
		</div>

	</div>
	
</body>
</html>