<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="#{questionnaire.title}"></title>
	
<style>
input {
	background-color: #1a1a1a !important;
	border-style: none !important;
	color: #e6e6e6 !important;
}

.form-control:focus {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #808080 !important;
	box-shadow: none;
}
</style>

</head>
<body>

	<div layout:fragment="header_login_content">
		<div
			th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>
	
	<div layout:fragment="main_content">
		<div class="row">
			<h1 class="h4 p-3 text-white" th:text="#{questionnaire.title}"></h1>
			<div class="rounded p-4" style="color: #e6e6e6; background-color: #333333">
				
			</div>
		</div>

	</div>
</body>
</html>