<!DOCTYPE html>
<html layout:decorate="~{layout}" class="h-100"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
</head>

<body class="h-100">

	<div layout:fragment="header_login_content">
		<div th:replace="fragments/header_login_section :: header_login_section"></div>
	</div>

	<div layout:fragment="main_content">
		<section class="row my-auto">

			<div
				class="d-flex flex-column col-12 col-md-6 mb-3 mb-md-0 text-white">
				<h1 class="h1 my-auto mx-auto mr-md-2 text-right"
					th:text="#{reset.title}"></h1>
			</div>

			<!-- Login form -->

			<div
				class="bg-light rounded px-4 pt-3 pb-2 mx-auto ml-md-2 col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3">

				<form th:action="@{/resetPassword}" method="POST">

					<!-- Place for errors -->
					<div class="form-group mt-2">
						<div th:if="${param.error}" class="alert alert-danger">
							<span th:text="#{index.invalid}"></span>
						</div>
					</div>

					<!-- Email / Username -->

					<div class="form-group">
						<label class="text-primary" for="LoginInputEmail"
							th:text="#{index.email}"></label> <input type="text"
							name="username" class="form-control" id="LoginInputEmail"
							placeholder="email" th:attr="placeholder=#{index.enteremail}">
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-warning mt-3 w-100"
							th:text="#{reset.reset}"></button>
					</div>
				</form>

				<div class="float-right pb-2" style="font-size: 0.9rem">
					<a th:href="@{/}" th:text="#{login.donthaveaccount}"
						class="text-success"></a>
				</div>
			</div>
		</section>
	</div>

</body>


</html>